@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: 10px;
  /* --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', */
  /*   'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', */
  /*   'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace; */

  --foreground-rgb: 0, 0, 0;
  --background-rgb: 244, 244, 244;
  --background-c-rgb: 224, 229, 235;
  --background-cd-rgb: 241, 247, 255;
  --background-input-rgb: 199, 199, 199;
  }

[data-theme='dark'] {
  --background-rgb: 34, 39, 44;
  --foreground-rgb: 255, 255, 255;
  --background-c-rgb: 46, 52, 59;
  --background-cd-rgb: 34, 39, 44;
  --background-input-rgb: 55, 60, 64;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#main {
  display: flex;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mt-5 {
  margin-top: 5rem;
}

.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-4 {
  margin-left: 4rem;
}
.ml-5 {
  margin-left: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.align-items-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.text-bold {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  color: white;
  margin-top: 32px;
}

tbody tr {
  background-color: #22272C99;
}

tbody td {
  /* border: 1px solid red; */
  padding: 0 5px;
  position: relative;
}

thead tr, tfoot tr {
  background-color: #22272C;
  border: 1px solid #22272C;
}

td, th {
  line-height: 44px;
}

table .left {
  text-align: start;
  padding-left: 8px;
}

table .center {
  text-align: center;
}

.flowbite-dropdown {
  background: rgb(var(--background-cd-rgb));
  padding: 8px;
  border: 2px solid rgb(var(--foreground-rgb));
  border-radius: 4px;
}

.flowbite-dropdown li {
  list-style: none;
}

.flowbite-dropdown li button {
  width: 100%;
  display: flex;
  flex: 1;
  
  background: none;
  border: none;
  padding: 4px;
  margin: 2px;
}

.flowbite-dropdown:after {
  content: "";
  display: inline-block !important;
  width: 0;
  height: 0;
  border-left: 6px solid rgb(var(--foreground-rgb));
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  vertical-align: middle;
  transform: rotate(180deg);

  position: absolute;
  top: 3px;
  left: -6px;
}

.bg-white {
  background: rgb(var(--background-cd-rgb));
}

[class*="text"] {
  color: rgb(var(--foreground-rgb));
}

i {
  color: rgb(var(--foreground-rgb));
}

.css-t3ipsp-control, 
.css-1nmdiq5-menu, 
.css-1p3m7a8-multiValue,
.css-13cymwt-control, 
textarea, input {
  background-color: rgb(var(--background-input-rgb)) !important;
  border-color: rgb(var(--background-input-rgb)) !important;
}
.css-wsp0cs-MultiValueGeneric {
  color: var(--foreground-rgb) !important;
}

textarea {
  width: 364px !important;
}

input[type*="text"], input[type*="date"], input[type*="email"], input[type*="password"] {
  min-width: 364px;
}

@media (max-width: 400px) {
 .login textarea, .signing textarea{
    width: 284px !important;
  }

  .login input[type*="text"], 
  .login input[type*="date"], 
  .login input[type*="email"], 
  .login input[type*="password"], 
  .login button,
  .signing input[type*="text"], 
  .signing input[type*="date"], 
  .signing input[type*="email"], 
  .signing input[type*="password"], 
  .signing button
  {
    width: 284px;
  }
}

.wrap {
  flex-wrap: wrap;
}

.css-1p3m7a8-multiValue {
  background-color: rgb(var(--background-rgb)) !important;
}

.css-1nmdiq5-menu {
  z-index: 1000;
}

.css-1nmdiq5-menu [class*="option"] {
  background-color: rgb(var(--background-input-rgb)) !important;
}

.css-1nmdiq5-menu [class*="option"]:hover {
  background-color: rgb(var(--background-rgb)) !important;
}

[class*="border-gray"] {
  border-color: rgba(var(--foreground-rgb), 0.1);
}

/* dashboard */

.logo {
  font-size: 27px;
  font-weight: 600;
  color: rgb(47, 141, 70);
}
 
.icn {
  height: 30px;
}

.menuicn {
  cursor: pointer;
}
 
.searchbar,
.message,
.logosec {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.searchbar2 {
  display: none;
}
 
.logosec {
  gap: 60px;
}
 
.searchbar input {
  width: 250px;
  height: 42px;
  border-radius: 50px 0 0 50px;
  background-color: var(--background-color3);
  padding: 0 20px;
  font-size: 15px;
  outline: none;
  border: none;
}
.searchbtn {
  width: 50px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 50px 50px 0px;
  background-color: var(--secondary-color);
  cursor: pointer;
}
 
.message {
  gap: 40px;
  position: relative;
  cursor: pointer;
}
.circle {
  height: 7px;
  width: 7px;
  position: absolute;
  background-color: #fa7bb4;
  border-radius: 50%;
  left: 19px;
  top: 8px;
}
.dp {
  height: 40px;
  width: 40px;
  background-color: #626262;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.main-container {
  display: flex;
  width: 100vw;
  position: relative;
  top: 70px;
  z-index: 1;
}
.dpicn {
  height: 42px;
}
 
.main {
  height: calc(100vh - 70px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px 30px 30px 30px;
}
 
.main::-webkit-scrollbar-thumb {
  background-image: 
        linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}
.main::-webkit-scrollbar {
  width: 5px;
}
.main::-webkit-scrollbar-track {
  background-color: #9e9e9eb2;
}
 
.box-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.nav {
  min-height: 91vh;
  width: 250px;
  background-color: var(--background-color2);
  position: absolute;
  top: 0px;
  left: 00;
  box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px 0 20px 10px;
}
.navcontainer {
  height: calc(100vh - 70px);
  width: 250px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}
.navcontainer::-webkit-scrollbar {
  display: none;
}
.navclose {
  width: 80px;
}
.nav-option {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px 0 20px;
  gap: 20px;
  transition: all 0.1s ease-in-out;
}
.nav-option:hover {
  border-left: 5px solid #a2a2a2;
  background-color: #dadada;
  cursor: pointer;
}
.nav-img {
  height: 30px !important;
}
 
.nav-upper-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
 
.option1 {
  border-left: 5px solid #010058af;
  background-color: var(--Border-color);
  color: white;
  cursor: pointer;
}
.option1:hover {
  border-left: 5px solid #010058af;
  background-color: var(--Border-color);
}
.box {
  height: 130px;
  width: 230px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.box:hover {
  transform: scale(1.08);
}
 
.box:nth-child(1) {
  background-color: var(--one-use-color);
}
.box:nth-child(2) {
  background-color: var(--two-use-color);
}
.box:nth-child(3) {
  background-color: var(--one-use-color);
}
.box:nth-child(4) {
  background-color: var(--two-use-color);
}
 
.box img {
  height: 50px;
}
.box .text {
  color: white;
}
.topic {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}
 
.topic-heading {
  font-size: 30px;
  letter-spacing: 3px;
}
 
.report-container {
  min-height: 300px;
  max-width: 1200px;
  margin: 70px auto 0px auto;
  background-color: rgb(var(--background-input-rgb));
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  padding: 0px 20px 20px 20px;
}
.report-header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}
 
.recent-Articles {
  font-size: 30px;
  font-weight: 600;
  color: #5500cb;
}
 
.view {
  height: 35px;
  width: 90px;
  border-radius: 8px;
  background-color: #5500cb;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
 
.report-body {
  max-width: 1160px;
  overflow-x: auto;
  padding: 20px;
}
.report-topic-heading,
.item1 {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t-op {
  font-size: 18px;
  letter-spacing: 0px;
}
 
.items {
  width: 1120px;
  margin-top: 15px;
}
 
.item1 {
  margin-top: 20px;
}
.t-op-nextlvl {
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 600;
}
 
.label-tag {
  width: 100px;
  text-align: center;
  background-color: rgb(0, 177, 0);
  color: white;
  border-radius: 4px;
}

.text-align-center {
  text-align: center;
}

.hover\:bg-gray-100:hover {
    --tw-bg-opacity: 1;
    /* background-color: rgb(243 244 246 / var(--tw-bg-opacity)); */
    background-color: rgba(var(--foreground-rgb), 0.2) !important;

}

.fa-sign-out:hover {
  color: #848484;
}

.Toastify__close-button--light {
  width: 24px;
}




@media only screen and (max-width: 768px) {
  [class^="page_main_card"], [class^="page_details"] {
    width: 240px !important;
    height: 290px !important;
  }
  [class^="sidebar_nav"] {
    padding: 18px !important;
    width: 184px !important;
  }
  [class^="page_card_title"] {
    font-size: 13px !important;
  }
  .container-input-search {
    margin-top: 2rem;
  }
}


@media only screen and (max-width: 425px) {

  [class^="page_containerInputSearch"], [class^="page_containerInputSearch"] input {
    width: 100% !important;
  }
  [class^="sidebar_nav"] {
    display: none !important;
  }


  [class^="page_list_competion"] {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  [class^="page_main_card"], [class^="page_details"] {
    width: 160px !important;
    height: 220px !important;
    font-size: 10px !important;
    margin-right: 0px !important;
  }

  [class^="page_card_title"] {
    font-size: 10px !important;
    margin-bottom: 2px !important;
  }

  [class^="page_card_date"] {
    font-size: 10px !important;
    margin-top: 8px !important;
  }
  [class^="page_card_location"], [class^="page_card_rules"] {
    font-size: 10px !important;
  }
  [class^="page_button"] {
    font-size: 10px !important;
    width: 90% !important;
    margin: auto !important;
  }

  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 375px) {
  [class^="page_main_card"], [class^="page_details"] {
    width: 140px !important;
    height: 200px !important;
    margin-right: 0px !important;
  }
}


@media only screen and (max-width: 328px) {
  [class^="page_main_card"], [class^="page_details"] {
    width: 100% !important;
    height: 300px !important;
  }
  [class^="providers_main"] {
    height: auto !important;
  }

}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pagination ul {
  display: flex;
}

.pagination .selected {
  background: #22272C;
;
}

.pagination li {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  border-radius: 4px;
  border: 1px solid #22272C;
}

.pagination .previous {
  width: 70px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .next {
  width: 70px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
