.main {
  background: rgb(var(--background-c-rgb));
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.form {
  background-color: rgb(var(--background-rgb));
  padding: 18px;
  border-radius: 4px;
  min-width: 400px;
}

@media (max-width: 788px) {
  .form {
    min-width: 400px;
    width: 400px;
  }
}

@media (max-width: 400px) {
  .form {
    min-width: 320px;
    width: 320px;
  }
}

.signing {
  cursor: pointer;
}

