.main {
  width: 100vw;
  flex: 1;
  padding: 28px;
}

.competitor {
  display: flex;
  width: 100%;
  padding: 0 10%;
  justify-content: space-between;
  align-items: flex-end;
}

.competitor1 img, .competitor2 img {
  background-color: #808080;
  width: 200px;
  height: 200px;
  /* border-radius: 10px; */
  margin-bottom: 10px;
}

.competitor1, .competitor2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rullings {
  display: flex;
  align-items: flex-end;
  flex: 1;
  justify-content: space-around;
  height: 380px;
}

.rulling1 {
  background-color: #EA6A73;
  width: 93px;
  height: 384px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 38px;
  border-radius: 10px;
  font-weight: bold;
}

.rulling2 {
  background-color: #13265C;
  width: 93px;
  height: 208px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 38px;
  border-radius: 10px;
  font-weight: bold;
}

.judge {
  padding-left: 32px;
  padding-bottom: 16px;
  text-align: left;
  font-size: 18px;
}

.judge img {
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.res1 div{
  background-color: #EA6A73;
  width: 93px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid rgb(var(--foreground-rgb));
}

.res2 div{
  background-color: #13265C;
  width: 93px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid rgb(var(--foreground-rgb));
}

.tr {
  background-color: #88888805;
  height: 53px;
}

.vs {
  font-size: 40px;
  font-weight: bold;
}
